form {
    border: 5px black solid;
    width: 240px;
    padding: 10px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

input {
    border-radius: 10px;
    width: 220px;
    font-size: 15px;
}

button {
    border-radius: 10px;
    border: 2px black solid !important;
    background-color: green !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 20px !important;
    color: white !important;
    padding: 5px !important
}

button:hover {
    background-color: lightgreen !important;
}

.alert {
    color: red;
    font-size: 10px;
}